@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Knjiznica</h1>
    <p>Izposoja/rezervacija knjig -->  <a href="http://localhost:5044/Knjige">Katalog</a>.</p>
</div>
